.addCart{
    width: 288px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#009EDD;
    border: solid #337FED 1px;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
   }
