.card {
    width: 308px;
    height: 305px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: #333333;
    margin: 0 auto;
    margin-bottom: 24px;
   
}

.image {
    height: 188px ;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.title{
    height: 18px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-top: 7px;
}

.price{
    height:22px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;
    color: #2F2E41;
}

.addCartBlue{
    width: 288px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#009EDD;
    border: solid #337FED 1px;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
   }

   .addCartGreen{
    width: 288px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#039B00;
    border: solid #039B19 1px;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
   }




