.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #FFF;

}

.cart{
    width: 100px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    color: #FFF;
    }

.myCart{
    width: 100px;
    height: 19px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    }

.statusCart{
    width: 100px;
    height: 19px;
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
    }

.iconBasket{
    margin-left: 10px;
    }

.iconBasket img{
    width: 29px;
    height: 25px;
}