.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #FFF;
    text-decoration: none;

}

.cart{
    width: 100px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    color: #FFF;
    padding: 0 18px 0 18px;
    }

.myCart{
    width: 100px;
    height: 19px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    }

.statusCart{
    width: 100px;
    height: 19px;
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
    }

.iconBasket{
    margin-left: 10px;
    }

.iconBasket img{
    width: 29px;
    height: 25px;
}


@media only screen and (min-device-width: 375px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
    }
    
    .logo{
        width: 100px;
        height: 74px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 20px;
        padding: 18px 10px 18px 10px;
        text-decoration: none;
    
    }
    
    .cart{
        width: 200px;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #FFF;
        padding: 18px 0 18px 10px;
       
        }
    
    .myCart{
        width: 100px;
        height: 19px;
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #FFF;
        }
    
    .statusCart{
        width: 100px;
        height: 19px;
        display: flex;
        justify-content:right;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        color: #FFF;
        }
    
    .iconBasket{
        margin-left: 10px;
        }
    
    .iconBasket img{
        width: 29px;
        height: 25px;
    }

}